@{
    ViewBag.Title = "ChangePassword";
    Layout = null;
}


<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Change Password</h4>
    </div>

    <div class="modal-body">
        <form id="frmChangePassword">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 150px;">
                <div class="scroller" style="height: 150px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-5">Old Password</label>
                                <div class="col-md-7">
                                    <input type="password" id="sOldPassword" data_fieldname="OldPassword" class="form-control required" placeholder="Old Password",title="Old Password is required" />
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-5">New Password</label>
                                <div class="col-md-7">
                                    <input type="password" id="sNewPassword" data_fieldname="NewPassword" class="form-control required" placeholder="New Password" ,title="New Password is required" onkeyup="CheckPassowrdAndConfirmPassword()"/>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-5">Confirm Password</label>
                                <div class="col-md-7">
                                    <input type="password" id="sNewConfirmPassword" data_fieldname="NewConfirmPassword" class="form-control required" placeholder="Confirm Password",title="Confirm Password is required" onkeyup="CheckPassowrdAndConfirmPassword()" />
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn default">Close</button>
        <button id="submitPasswordChange"type="button" class="btn green" onclick="SubmitChangePasswordForm()" disabled>Save changes</button>
    </div>
</div>

<script type="text/javascript">
    function SubmitChangePasswordForm() {         
        var result = $("#frmChangePassword").valid();
        if (!result) {
            // do nothing
        }
        else {
              $.ajax({
                        url: '@Url.Action("ChangePasswordForm", "Login")',
                        type: "POST",
                        dataType: "json",
                        data: { oldPassword: $("#sOldPassword").val(), newPassword: $("#sNewConfirmPassword").val() },
                        async: true,
                        success: function (msg) {
                            if (msg.Type == "success") {
                                $("#ChangePasswordModal").modal("toggle");
                            }
                            Global.ShowAlertMessage(msg.Message, msg.Type, msg.Heading);
                            data = msg.Data;
                            if (msg.RedirectUrl != "" && msg.RedirectUrl != null) {
                                Global.RedirectToUrl(msg.RedirectUrl);
                            }
                        },
                        error: function (result) {
                            Global.ShowValidationError("frmChangePassword",result)
                            Global.ShowAlertMessage("An error occured", "error", "Error");
                        }

                    });
        }
    }
    function CheckPassowrdAndConfirmPassword() {
        if (document.getElementById('sNewPassword').value ==
            document.getElementById('sNewConfirmPassword').value) {
            document.getElementById('submitPasswordChange').disabled = false;
        } else {
            document.getElementById('submitPasswordChange').disabled = true;
        }
    }
</script>
